version: "3.2"

services:
  web:
    environment:
      DEBUG: 1
      REDIS_URL: redis://redis
    volumes:
      - ./game_director:/game_director
    build: .
    ports:
      - "3000:3000"
  redis:
    image: 'bitnami/redis:latest'
    ports:
      - "6379:6379"
    environment:
      - ALLOW_EMPTY_PASSWORD=yes